# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<u><b>Objectives:</b></u>

Some of the key take aways from this notebook are:

- Popular languages for Data Scientists
- Commonly used libraries for Data Scientists
- Creating tables
- Open source development environment tools for Data Science
- Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Matplotlib
5. Scipy

Some of the most popular development environment tools for data science are provided below in a tabular form:
|Data Science Tools|
|------------------|
|Jupyter Notebook|
|R Studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.
<u><b> Example 01 </b></u>
<br>
Input: 5+2
<br>
Output: 7

<u><b> Example 02 </b></u>
<br>
Input: 4/2
<br>
Output: 2

<u><b> Example 03 </b></u>
<br>
Input: (1+2)*3
<br>
Output: 9

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Saad Asghar Keen